%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.p-2
  %a.navbar-brand
    Weather App
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse.flex.justify-content-between
    .navbar-nav
      .nav-item
        = link_to 'Cities', cities_path, class: 'nav-link'
    .navbar-nav
      -if !current_user.present?
        .nav-item
          = link_to 'Sign in', sign_in_path, class: 'nav-link'
        .nav-item
          = link_to 'Sign up', sign_up_path, class: 'nav-link'
      -else
        .nav-item
          = link_to 'Profile', user_path(current_user), class: 'nav-link'
        .nav-item
          = link_to 'Logout', logout_path, class: 'nav-link', method: :delete
