.d-flex.w-100.justify-content-center.pt-4
  .flex-column.w-25
    %h1.pb-3
      Sign Up
    = simple_form_for @user, url: sign_up_path, html: {class: 'w-100'} do |f|
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label 'password'
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label 'password_confirmation'
        = f.password_field :password_confirmation, class: 'form-control'
      .form-group.pt-3
        = f.submit 'Sign Up', class: 'btn btn-dark'
