.d-flex.w-100.justify-content-center.pt-4
  .flex-column.w-25
    %h1.pb-3
      Reset your password?
    = simple_form_for :user, url: password_reset_path, html: {class: 'w-100'} do |f|
      .form-group
        = f.input :email, input_html: {class: 'form-control'}
        = f.submit 'Reset Password'


