Welcome to my weather app, <%= @user.email %>
===============================================
You have successfully signed up to weather app,
your user email is: <%= @user.email %>.
To login to the site, just follow this link: <%= @url %>.
Thanks for joining and have a great day!
