.d-flex.w-100.justify-content-center.pt-4
  .flex-column.w-25
    %h1.pb-3
      Sign In
    = simple_form_for :user, method: :create,url: sign_in_path, html: {class: 'w-100'} do |f|
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label 'password'
        = f.password_field :password, class: 'form-control'
      .form-group.pt-3
        = f.submit 'Sign In', class: 'btn btn-dark'
        = link_to 'Forgot your password?', password_reset_path

