.d-flex.w-100.justify-content-center.pt-4
  .flex-column.w-25
    %h1.pb-3
      Forgot Password
    = simple_form_for current_user, url: edit_password_path, html: {class: 'w-100'} do |f|
      .form-group
        = f.label 'password'
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label 'password_confirmation'
        = f.password_field :password_confirmation, class: 'form-control'
      .form-group.pt-3
        = f.submit 'Update', class: 'btn btn-dark'
