.d-flex.w-100.justify-content-center.pt-4
  = simple_form_for current_user, html: {class: 'w-25'} do |f|
    .form-group
      = f.label :email
      = f.text_field :email, class: 'form-control'
    .form-group
      = f.label :first_name
      = f.text_field :first_name, class: 'form-control'
    .form-group
      = f.label :last_name
      = f.text_field :last_name, class: 'form-control'
    .form-group.pt-3
      = f.submit 'Save', class: 'btn btn-dark'
