.d-flex.w-100.justify-content-center
  .card{style: "width: 18rem;"}
    =image_tag 'profile.png', class:' card-img-top'
    .card-body
      %h5.card-title
        = "Email: #{current_user.email}"
      %p.card-text
        = "First Name: #{current_user.first_name}"
      %p.card-text
        = "Last Name: #{current_user.last_name}"
      = link_to 'Edit profile', edit_user_path, class: 'btn btn-warning'
      = link_to 'Delete profile', user_path(current_user), method: :delete, class: 'btn btn-danger'
