.d-flex.w-100.justify-content-center.pt-4
  .flex-column.w-25
    = simple_form_for @city, class:'form-control', html: {class: 'w-100'} do |f|
      .form-group
        = f.input :name, input_html: {class: 'form-control'}
      .form-group
        = f.input :country, input_html: {class: 'form-control'}
      .form-group
        = f.submit 'save'
