.d-flex.p-4
  .weather.pt-2.px-4
    %p
      %h4
        = "Weather:"
      -@weather_body.weather.each do |info|
        =image_tag("http://openweathermap.org/img/wn/#{info.icon}@2x.png")
        %p
          ="Overall weather: #{info.main}"
        %p
          = "description: #{info.description}"
  .temps.pt-2.px-4
    %p
      %h4
        = "Temperature:"
      %p
        ="Base Temp: #{@weather_body.main.temp}°C"
      %p
        = "min temperature: #{@weather_body.main.temp_min}°C"
      %p
        = "max temperature: #{@weather_body.main.temp_max}°C"
  .wind.pt-2.px-4
    %p
      %h4
        = "Wind:"
      %p
        = "Speed: #{@weather_body.wind.speed}km/h"
      %p
        = "Angle: #{@weather_body.wind.deg}°"
