%table.table
  %thead
    %tr
      %th{scope: "col"}
        = link_to new_city_path, class: 'badge bg-dark text-decoration-none' do
          =inline_svg_tag 'icons/plus', width: '20px', height: '20px'
      %th{scope: "col"} Name
      %th{scope: "col"} Country
      %th{scope: "col"} Actions
  %tbody
    -@cities.all.each.with_index(1) do |city, index|
      %tr
        %th{scope: "row"}
          = index
        %td
          =city.name
        %td
          =city.country
        %td
          = link_to 'Edit', edit_city_path(city), class: 'btn btn-warning'
          = link_to 'Show', city_path(city), class: 'btn btn-dark'
          = link_to 'Destroy', city_path(city), method: :delete, class: 'btn btn-danger'
