.p-4.d-flex.w-100.justify-content-between
  = "Weather for #{@city.name.capitalize}, #{@city.country.upcase}"
  = link_to 'Go Back', cities_path, class: 'btn btn-primary'
= render(@weather.fetched ? 'weather_info' : 'weather_error')

